@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


*{
box-sizing:border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}